@model programmingwebapp.Models.File

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>File</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Program)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileContent)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.FileContent)*@

            @if (Model.FileContent != null)
            {
                @(new HtmlString("<pre class=\"line-numbers\"><code class=\"language-" + Model.Program.Language + "\">" + System.Security.SecurityElement.Escape(Model.FileContent) + "</code></pre>"))
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
